name: Build and Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up SSH
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Git pull force
      run: ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa ec2-user@ec2-13-233-155-170.ap-south-1.compute.amazonaws.com 'cd plexus/Backend/ && git fetch --all && git reset --hard origin/${{ github.ref_name }}'

    - name: Docker Compose Build
      run: ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa ec2-user@ec2-13-233-155-170.ap-south-1.compute.amazonaws.com 'cd plexus/Backend/ && sudo docker-compose build'

    - name: Docker Compose Up
      run: ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa ec2-user@ec2-13-233-155-170.ap-south-1.compute.amazonaws.com 'cd plexus/Backend/ && sudo docker-compose up -d'